/*
#0476D9 Azul fuerte
#3C91E4 Azul Medio
#55A8AC Verde Claro
#048C7F Verde Oscuro
#AEBF2C Verde lima semifuerte
*/

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*Genericos*/
.contenedor {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1260px;
}

.bg-img-fondo {
  background-image: url(/assets/img/fondo-header.jpg);
  height: 18.75rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-transp {
  background-color: #0476d982;
  padding: 1.5em 0 1.5em 0;
}

.nav-logo-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.nav-logo a{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 2rem;

}

.nav-logo img{
    width: 2em;
}

.nav-menu{
    background-color: #55a8acb0;
    padding: 1rem;
    border-radius: 0.3em;
}

.nav-link{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.3em;
}

.nav-link:hover{
    background-color: #fff;
    color: black;
    border-radius: 0.3em;
}


card {
  /* 
colorP #80deea
colorP oscuro #4bacb8
colorP light #b4ffff

colorS #81d4fa
colorS #4ba3c7
colorS #b6ffff
*/ 


.html {
  box-sizing: border-box;
}
*,*::before,*::after{
  box-sizing: inherit;
}
body {
  font-family: 'Lato', sans-serif;
}

.contenedor {
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(73, 140, 140);
  margin-top: 1rem;
}

.btn-card{
  background-color: blue;
  color: white;
}

.header {
  display: block;
  text-decoration: none;
  background-color: rgb(52, 166, 166);
  font-size: 2rem;
  color: white;
  text-align: center;
  padding: .5em;
}

.btn{
  display: inline-block;
  text-decoration: none;
  background-color: blue;
  color: rgb(255, 255, 255);
  padding: 1em;
  margin: 0 0.5 0 0;
  font-size: 1.2rem;
  border-radius: .3rem;
}

.btn-card{
  background-color: aliceblue;
  color: white;
}

.btn3{
  background-color: aliceblue;
  color: white;
}

.card{
  width: 300px;
  background-color: aqua;
  overflow: hidden;
}

.img-card{
  width: 100%;

}

.body-card{
  padding: 2em;
}

.body-card h3{
  font-size: 1.2rem;
  font-weight: 500;
}

.body-card p{
  font-weight: 200;
}


